# .coveragerc to control coverage.py
[run]
relative_files = True
branch = True
source = ./tsfresh
omit = tsfresh/utilities/profiling.py
       tsfresh/__init__.py
       tsfresh/feature_extraction/__init__.py
       tsfresh/example/__init__.py
       tsfresh/utilities/__init__.py
       tsfresh/transformers/__init__.py
       tsfresh/convenience/__init__.py
       tsfresh/examples/har_dataset.py
       tsfresh/examples/robot_execution_failures.py
       tsfresh/examples/driftbif_simulation.py
       tsfresh/examples/test_tsfresh_baseline_dataset.py
       tsfresh/scripts/test_timing.py
       tsfresh/scripts/measure_execution_time.py
       /opt/hostedtoolcache/Python/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
