#others
*.lock

# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit.xml
coverage.xml

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/_build/*
cover/*
MANIFEST
docs/text/_generated/

# Virtual environment
venv*
activate

# IPython notebooks
.ipynb_checkpoints

# examples data directory
tsfresh/examples/data/
tsfresh/notebooks/data/
# ds_store
*.DS_Store

# dask
dask-worker-space
dask-worker-space/
