# Travis Build file for tsfresh
language: python
# We do not use sudo here, so we can use docker containers, which have better caching
sudo: false
# We want the pip folder to be cached, to speed up installation
cache:
  directories:
    - $HOME/.cache/pip
install:
  - pip install --upgrade pip wheel setuptools
  - pip install -r requirements.txt -r test-requirements.txt
  - pip install -U .
  - pip freeze
jobs:
  include:
    - stage: Run unit tests and deploy
      env: NUMPY="latest", PANDAS="0.23.4", SCIKITLEARN="latest", DASK="latest", DISTRIBUTED="latest", SCIPY="latest"
      before_script:
        - pip install --upgrade numpy
        - pip install pandas===0.23.4
        - pip install scikit-learn==0.20.3 # last scikit-learn version to support python 2.7
        - pip install --upgrade dask
        - pip install --upgrade distributed
        - pip install --upgrade scipy
        - pip list
      script:
        - sed -i 's/\-n auto/\-n 2/g' setup.cfg
        - "if [ $TRAVIS_PULL_REQUEST == false ] && ! [ $TRAVIS_BRANCH == 'master' ]; then py.test tests/units -n2; else python setup.py test; fi"
      python: 2.7
      after_success:
        - coveralls

    - stage: Run unit tests and deploy
      env: NUMPY="latest", PANDAS="0.23.4", SCIKITLEARN="latest", DASK="latest", DISTRIBUTED="latest", SCIPY="latest"
      before_script:
        - pip install --upgrade numpy
        - pip install pandas===0.23.4
        - pip install --upgrade scikit-learn
        - pip install --upgrade dask
        - pip install --upgrade distributed
        - pip install --upgrade scipy
        - pip list
      script:
        - sed -i 's/\-n auto/\-n 2/g' setup.cfg
        - "if [ $TRAVIS_PULL_REQUEST == false ] && ! [ $TRAVIS_BRANCH == 'master' ]; then pytest tests/units -n2; else pytest tests; fi"
      python: 3.5

    - stage: Run unit tests and deploy
      env: NUMPY="1.10.4", PANDAS="0.20.3", SCIKITLEARN="0.18.0", DASK="0.15.2", DISTRIBUTED="1.18.3", SCIPY="1.2.0"
      before_script:
        - pip install numpy==1.10.4
        - pip install pandas==0.20.3
        - pip install scikit-learn==0.18.0
        - pip install dask==0.15.2
        - pip install distributed==1.18.3
        # need to downgrade tornado manually
        - pip install tornado==4.5.3
        - pip install scipy==1.2.0
        - pip list
      script:
        - sed -i 's/\-n auto/\-n 2/g' setup.cfg
        - "if [ $TRAVIS_PULL_REQUEST == false ] && ! [ $TRAVIS_BRANCH == 'master' ]; then pytest tests/units -n2; else pytest tests; fi"
      python: 2.7

    - stage: Run unit tests and deploy
      env: NUMPY="1.10.4", PANDAS="0.20.3", SCIKITLEARN="0.18.0", DASK="0.15.2", DISTRIBUTED="1.18.3", SCIPY="1.2.0"
      before_script:
        - pip install numpy==1.10.4
        - pip install pandas==0.20.3
        - pip install scikit-learn==0.18.0
        - pip install dask==0.15.2
        - pip install distributed==1.18.3
        # need to downgrade tornado manually
        - pip install tornado==4.5.3
        - pip install scipy==1.2.0
        - pip list
      script:
        - sed -i 's/\-n auto/\-n 2/g' setup.cfg
        - "if [ $TRAVIS_PULL_REQUEST == false ] && ! [ $TRAVIS_BRANCH == 'master' ]; then pytest tests/units -n2; else pytest tests; fi"
      python: 3.5

      deploy:
        provider: pypi
        user: MaxChrist
        password:
          secure: Jh0Z69Mh+esOpegXyXoecFOkpMhaQaiJbQVEvVvQ2K1rCmCE20a19/TGfPUrynpqOYXZvvb5Ok6CtlzAi9J5huA3MRSf4iYPsUe8i7n0FK4JU5BP7VqM3/7cQZMdD5SeYFV3e3JURDcKYfoG7N+DNb+LfluYK5MBkRLhdEVRqSeHocPY4QRzzhJi1ljX99ThdRPrsQqYaD3tpZxJhbJDgHLtvMr39+407uQSDnubvFz3iu90DZiN2fIP5bEN6PDuaGXNZMA1p40DjSkGc7epg0U4vHn6CSya1nXlqjXUqXYJY5Ha2kbMAN7hfmU+gId09+FSHQRuanKJkRqSBksVgATCAeSAiqAe3EPAsG75ewhXDeusQZMzRy7DxQzjOJG9oIyWMVmZFlIoNlpg2eifN9uUc7FfyGHiVfWwUDslszpc/81hQViMPP0NoMAop4zcWR3ChCMnHMycPQEmWuV65WfL7yN6SuTokxSmepubPtFs+4UIlI0rgZWCHVIgGZqI8LFn958pLtpQ+32Ew8HGU3IiOfao9HbGreQ2Lgqo2L2EyNDWiHfJ3oZ1+6BP/1GqI6j7x7oPdwoE1jvY4CSC7iMAiieZNnrvywvmJpZB69CGefxQJzWcm+yD03QwNBFFaabCbKwbn+q3eUOUrPRuvTkhVLRWDxQNH/zaZyuZQ+Q=
        distributions: "sdist bdist_wheel"
        on:
          tags: true
          repo: blue-yonder/tsfresh
notifications:
   slack: tsfresh:uIzPVnlBQs32xE5jbq34f0Cq
