requests>=2.9.1
numpy>=1.15.1
pandas>=0.25.0
scipy>=1.2.0
statsmodels>=0.13
patsy>=0.4.1
scikit-learn>=0.22.0
tqdm>=4.10.0
dask[dataframe]>=2.9.0
distributed>=2.11.0
matrixprofile>=1.1.10,<2.0.0
stumpy>=1.7.2
cloudpickle
