requests==2.18.4
numpy==1.12.1
pandas==0.22.0
scipy==1.1.0
statsmodels==0.8.0
patsy==0.5.0
scikit-learn==0.19.1
future==0.16.0
six==1.10.0
tqdm==4.23.3
ipaddress==1.0.22; python_version <= '2.7'
dask==0.17.4
distributed==1.21.8
