# Store benchmark results as an artifact
name: Benchmark the default branch
on:
  # Only run on the default branch
  push:
    branches:
      - main

jobs:
  benchmark:
    name: Run pytest-benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r test-requirements.txt
      - name: Run benchmark
        run: |
          cd tests
          pytest benchmark.py --benchmark-min-rounds=4 --benchmark-only -n 0 --no-cov --benchmark-json output.json
      - name: Upload the file
        uses: actions/upload-artifact@v2
        with:
          name: benchmark_results
          path: tests/output.json
